@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300&display=swap');

$first:white;
$second:#090c31;
$third:#5853ff;
$dark:rgb(44,44,44);
$text1: 'Lato';
$text2: 'Open Sans' ;
